
    <%- include('../partials/head') %>
        <%- include('../partials/header') %>

        <% if( status== 200) { %>   
<div class="jumbotron">
    <h1 class="display-4">Pizza Delivery</h1>
    <p class="lead">Welcome to pizza delivery service. This is the place when you may chose the most delicious pizza you like from wide variety of options!</p>
    <hr class="my-4">
    <p>We're performing delivery free of charge in case if your order is higher than $19</p>
    <p class="lead">
        <a class="btn btn-dark btn-lg" href="/user/create" role="button">Sign In and Order</a>
        <a class="btn btn-dark btn-lg" href="/menu/" role="button">Go to the Menu</a>
    </p>
</div>

<% } else { %>
    <p class="alert alert-info"> Authentication error.</p>
    <% } %>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
